@import "../../src/styles/main.scss";

.root {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  padding: 5rem 0 0 0;

  h4 {
    font-weight: 500;
    font-family: $font-poppins;
  }
}
