.cardRoot {
  width: 30vw;

  .imageContainer {
    height: 30vh;
    position: relative;
  }
}





.excerpt {
  text-overflow: ellipsis;
}

.content {
  height: 10em;
}

.title, .excerpt {
  overflow: hidden;
  text-overflow: ellipsis;
}