@import "../../styles/main";

.container {
  display: flex;
  padding: 6em 2em 4em 2em;
  justify-content: center;
  background: transparent;
}

.cardContents {
  gap: 1em;
  width: 80%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  font-size: 2.5em;
  font-weight: 500;
  color: $dark-blue;
  font-family: $font-poppins;
}

.subtext {
  font-family: $font-poppins;
}
