.root {
    height: 100%;
    width: 20rem;
    display: flex;
    background: #EEEEEE;
    flex-direction: column;
}

// .imageContainer {
//     img {
//         width: 100%;
//         object-fit: cover;
//     }
// }

.textContainer {
    gap: 1em;
    margin: 0;
    height: 100%;
    padding: 1em;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .titleDate {
        flex: 1;
    }

    h4 {
        font-weight: bold;
    }
}

.descriptionContainer {
    word-wrap: break-word;
}