@import "../../src/styles/main.scss";

.container {
  gap: 2em;
  height: 100%;
  display: flex;
  padding: 5em 4em 2em 4em;
  flex-direction: column;
}

.titleContainer {
  text-align: center;

  h3 {
    font-weight: 500;
    color: $dark-blue;
    font-family: $font-poppins;
  }
}

.postsContainer {
  gap: 2em 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
