.root {
    gap: 1em;
    display: flex;
    flex-direction: column;
}

.header {
    gap: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    h4 {
        font-weight: bold;
    }
}

.form {
    gap: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;

    .detailsContainer {
        gap: 1em;
        width: 100%;
        display: flex;
    }

    .formFields {
        gap: 1em;
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .avatarContainer {
        gap: 1em;
        display: flex;
        flex: 1 0 auto;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}