.container {
  gap: 1em;
  height: 100%;
  display: flex;
}

.imageContainer {
  width: 10em;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.textSection {
  gap: 1em;
  width: 20vw;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  word-wrap: break-word;
}
