@import "../../../styles/main";

.root {
  gap: 2em;
  padding: 2em;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  background: transparent;
  flex-direction: column;
  justify-content: flex-start;
}

.titleContainer {
  p {
    font-size: 2em;
    font-weight: 500;
    color: $dark-blue;
    font-family: $font-poppins;
  }
}

.featPostCardsContainer {
  gap: 1em 2em;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  @media screen and (max-width: 600px) {
    gap: 3em 1em;
  }
}
