.container {
  gap: 1em;
  display: flex;
}

.imageContainer {
  width: 10em;
  position: relative;
}

.textSection {
  gap: 1em;
  width: 20vw;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.description {
  word-wrap: break-word;
}
