@import "../../../styles/main.scss";

.root {
  gap: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;

  label, button {
    font-family: $font-poppins;
  }
}

.w-md-editor {
  border: 1px solid black;
}

.editor {
  height: 380px;
}

.w-md-editor-toolbar {
  height: 100px;
}

